body {
    background-color: black;
}
.column{
    float: left;
    width: 22%;
    padding: 5px;
    display: inline-block;
    margin-left: 40px;
}

.main{
    max-width: 500px;
    height: 470px;
}



