body {
    background-color: black
}
.show{
    max-width: 600px;
    max-height: 400px
}

.overview{
    font-size: 25px;
    color: white;
}

.date{
    font-size: 20px;
    color: white;
}

.poster{
    max-width: 400px;
    max-height: 600px;
    margin-left: 100px;
}

.show{ 
    font-size: 40px;
    font-family: "De Valencia";
    color: white;
}

#plot{
    color: white;
}






